In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
from IPython.display import display

In [2]:
print('loading products...')
products = pd.read_csv('products.csv', dtype={
        'product_id': np.uint16,
        'order_id': np.int32,
        'aisle_id': np.uint8,
        'department_id': np.uint8},
        usecols=['product_id', 'aisle_id', 'department_id'])

print('loading prior orders...')
order_prior = pd.read_csv('order_products__prior.csv', dtype={
        'order_id': np.int32,
        'product_id': np.uint16,
        'add_to_cart_order': np.int16,
        'reordered': np.int8})

print('loading train orders...')
order_train = pd.read_csv('order_products__train.csv', dtype={
        'order_id': np.int32,
        'product_id': np.uint16,
        'add_to_cart_order': np.int16,
        'reordered': np.int8})

print('loading orders...')
orders_list = pd.read_csv('orders.csv' , dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32})

loading products...
loading prior orders...
loading train orders...
loading orders...

In [5]:
display(order_prior)

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
5                2       17794                  6          1
6                2       40141                  7          1
7                2        1819                  8          1
8                2       43668                  9          0
9                3       33754                  1          1
10               3       24838                  2          1
11               3       17704                  3          1
12               3       21903                  4          1
13               3       17668                  5          1
14               3       46667                  6          1
15               3       17461                  7          1
16               3       32665                  8          1
17               4       46842                  1          0
18               4       26434                  2          1
19               4       39758                  3          1
20               4       27761                  4          1
21               4       10054                  5          1
22               4       21351                  6          1
23               4       22598                  7          1
24               4       34862                  8          1
25               4       40285                  9          1
26               4       17616                 10          1
27               4       25146                 11          1
28               4       32645                 12          1
29               4       41276                 13          1
...            ...         ...                ...        ...
32434459   3421080       41950                  4          0
32434460   3421080       31717                  5          0
32434461   3421080       12935                  6          1
32434462   3421080       25122                  7          0
32434463   3421080       10667                  8          0
32434464   3421080       38061                  9          0
32434465   3421081       38185                  1          0
32434466   3421081       12218                  2          0
32434467   3421081       32299                  3          0
32434468   3421081        3060                  4          0
32434469   3421081       20539                  5          0
32434470   3421081       35221                  6          0
32434471   3421081       12861                  7          0
32434472   3421082       17279                  1          1
32434473   3421082       12738                  2          1
32434474   3421082       16797                  3          0
32434475   3421082       43352                  4          1
32434476   3421082       32700                  5          1
32434477   3421082       12023                  6          0
32434478   3421082       47941                  7          0
32434479   3421083        7854                  1          0
32434480   3421083       45309                  2          0
32434481   3421083       21162                  3          0
32434482   3421083       18176                  4          1
32434483   3421083       35211                  5          0
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]