In [7]:
import pandas as pd
import numpy as np
import matplotlib as plt
from IPython.display import display
import xgboost as xgb
np.random.seed(999)
print('loading aisles...')
aisles = pd.read_csv('aisles.csv', dtype={
        'aisle_id': np.uint16,
        'aisle': 'category'})

print('loading department...')
department = pd.read_csv('departments.csv', dtype={
            'department_id': np.uint8,
            'department': 'category'})

print('loading products...')
products = pd.read_csv('products.csv', dtype={
        'product_id': np.uint16,
        'order_id': np.uint32,
        'aisle_id': np.uint8,
        'department_id': np.uint8})

print('loading prior orders...')
prior = pd.read_csv('order_products__prior.csv', dtype={
        'order_id': np.uint32,
        'product_id': np.uint16,
        'add_to_cart_order': np.uint16,
        'reordered': np.uint16})

print('loading train orders...')
train = pd.read_csv('order_products__train.csv', dtype={
        'order_id': np.uint32,
        'product_id': np.uint16,
        'add_to_cart_order': np.uint16,
        'reordered': np.uint8})

print('loading orders...')
order = pd.read_csv('orders.csv' , dtype={
        'order_id': np.uint32,
        'user_id': np.uint32,
        'eval_set': 'category',
        'order_number': np.uint16,
        'order_dow': np.uint16,
        'order_hour_of_day': np.uint16,
        'days_since_prior_order': np.float32})

loading aisles...
loading department...
loading products...
loading prior orders...
loading train orders...
loading orders...

In [8]:
# best sellers
best_seller_id = [24852, 13176, 21137, 21903, 47626, 47766, 47209, 16797, \
                 26209, 27966]
most_often_reordered = [1729, 20940, 12193, 21038, 31764, 24852, 117, \
                       39180, 12384, 24024]

In [9]:
train_orders = order[order.eval_set == 'train']
test_orders = order[order.eval_set == 'test']
prior_orders = order[order.eval_set == 'prior']

train.set_index(['order_id', 'product_id'], inplace=True, drop=False)

order.set_index('order_id', inplace=True, drop=False)
prior = prior.join(order, on='order_id', rsuffix='_')
prior.drop('order_id_', inplace=True, axis=1)
prior.set_index('order_id', inplace=True, drop=False)

In [10]:
print('Construct products information...')
prods = pd.DataFrame()
prods['total_nb'] = prior.groupby(prior.product_id).size().astype(np.uint32)
prods['nb_reorder'] = prior.groupby(prior.product_id)['reordered'].sum().astype(np.uint32)
prods['reorder_rate'] = prods.nb_reorder / prods.total_nb.astype(np.float32)
prods['nb_buyers'] = prior.groupby(prior.product_id)['user_id'].apply(lambda x: len(set(x))).astype(np.uint16) # unique buyers
prods['avg_add_to_cart_order'] = prior.groupby(prior.product_id)['add_to_cart_order'].mean().astype(np.uint8)
prods['min_add_to_cart_order'] = prior.groupby(prior.product_id)['add_to_cart_order'].min().astype(np.uint8)
prods['max_add_to_cart_order'] = prior.groupby(prior.product_id)['add_to_cart_order'].max().astype(np.uint8)
prods['nb_orders'] = prior.groupby(prior.product_id).size().astype(np.uint16)
products = products.join(prods, on='product_id')
products.set_index('product_id', drop=False, inplace=True)

Construct products information...

In [53]:
display(ords_pri)

,order_id,user_id,unique_product_id,nb_items,first_item_id,first_item_reorder,nb_reorder,reorder_ratio,no_reorder
order_id,,,,,,,,,
2,2,202279,"{33120, 17794, 40141, 9327, 30035, 43668, 2898...",9,33120,1,6,0.666667,0
3,3,205970,"{17668, 24838, 17704, 46667, 21903, 17461, 326...",8,33754,1,8,1.000000,0
4,4,178520,"{26434, 32645, 10054, 21351, 22598, 39758, 348...",13,46842,0,12,0.923077,0
5,5,156122,"{48002, 45698, 18569, 37011, 15005, 8479, 9633...",26,13176,1,21,0.807692,0
6,6,22352,"{15873, 41897, 40462}",3,40462,0,0,0.000000,1
7,7,142903,"{46802, 34050}",2,34050,0,0,0.000000,1
8,8,3107,{23423},1,23423,1,1,1.000000,0
9,9,139016,"{27366, 14183, 29193, 11182, 14992, 432, 47890...",15,21405,0,10,0.666667,0
10,10,135442,"{31717, 3464, 22122, 14992, 21137, 49235, 2485...",15,24852,1,8,0.533333,0
11,11,143742,"{1313, 5994, 27085, 30162, 31506}",5,30162,1,5,1.000000,0
12,12,152610,"{38050, 30597, 11175, 38888, 34335, 3164, 2339...",15,30597,1,6,0.400000,0
13,13,45082,"{25952, 196, 41290, 23020, 33198, 27407, 17330...",13,17330,0,0,0.000000,1
14,14,18194,"{162, 41890, 20995, 27845, 20392, 45066, 10096...",11,20392,1,9,0.818182,0
15,15,54901,"{7461, 21195, 19660, 32463, 2996}",5,19660,1,5,1.000000,0
16,16,174840,"{25466, 9755, 45437}",3,9755,1,1,0.333333,0
18,18,118860,"{46979, 28934, 7948, 7308, 32018, 47766, 26648...",28,8021,0,10,0.357143,0
19,19,83009,"{42265, 41540, 24838}",3,42265,1,3,1.000000,0
20,20,182912,"{35430, 42633, 33452, 24852, 27605, 5112, 7419...",8,35430,0,0,0.000000,1
21,21,88772,"{5009, 33106, 4149, 25718, 31478}",5,5009,1,3,0.600000,0
22,22,30822,"{28993, 22754, 21410, 46979, 23909, 31268, 233...",14,23909,1,10,0.714286,0
23,23,68572,"{7969, 18689, 12036, 8518, 25931, 26283, 44299...",14,25931,1,9,0.642857,0
24,24,193635,"{9065, 40078, 46175}",3,40078,0,0,0.000000,1
25,25,59897,"{33506, 37510, 39046, 37449, 48171, 48299, 193...",14,9755,1,8,0.571429,0
26,26,153404,"{33120, 40545, 25890, 35951, 21903, 24852, 477...",8,35951,0,2,0.250000,0
27,27,129389,"{17794, 10243, 2447, 26128, 47766, 19478, 2101...",27,13176,1,16,0.592593,0
28,28,98256,"{45504, 18531, 35108, 37220, 25256, 22825, 476...",16,35108,0,14,0.875000,0
29,29,81606,"{33768, 21386, 13176, 43352, 8571}",5,43352,1,5,1.000000,0
30,30,194309,"{42944, 1158, 48559}",3,48559,1,2,0.666667,0
31,31,201744,"{49156, 31717, 29926, 21903, 25647, 48946, 943...",10,48946,1,9,0.900000,0
32,32,119216,"{12384, 20995, 28199, 35887, 4920, 49683, 1599...",9,12384,1,5,0.555556,0
...,...,...,...,...,...,...,...,...,...
3421048,3421048,118494,"{36227, 35171, 6473, 6287, 39023, 10706, 44245...",8,10706,1,5,0.625000,0
3421050,3421050,206030,"{20608, 15872, 5251, 40516, 16797, 5451, 21938...",13,42617,0,4,0.307692,0
3421051,3421051,123577,"{16384, 48775, 5134, 44047, 21137, 16145, 2203...",31,14233,1,26,0.838710,0
3421052,3421052,129045,"{14947, 49191}",2,14947,1,2,1.000000,0
3421053,3421053,32775,"{26209, 36522, 6347, 35147, 13517, 12206, 3902...",9,6347,1,9,1.000000,0
3421055,3421055,42599,"{43713, 7521, 32963, 16482, 27845, 18465, 4720...",19,43713,0,10,0.526316,0
3421057,3421057,121318,"{39877, 45645, 38164, 31126, 44632}",5,44632,1,4,0.800000,0
3421059,3421059,79937,"{39812, 33894, 23400, 48845, 15795, 13077}",6,33894,0,1,0.166667,0
3421060,3421060,28462,"{25890, 38777, 17027, 32486, 20520, 47209, 395...",17,24024,1,6,0.352941,0
3421061,3421061,188776,"{17794, 38662, 45066, 47626, 32927, 35108, 230...",22,5449,1,20,0.909091,0
3421062,3421062,33125,"{28289, 13675, 27086, 26128, 13176, 42265, 11005}",7,13176,0,4,0.571429,0
3421064,3421064,76586,"{39001, 15772, 37687}",3,37687,1,3,1.000000,0
3421065,3421065,125814,"{2386, 44275, 32691, 12442, 23835}",5,44275,1,4,0.800000,0
3421066,3421066,122662,"{10017, 23233, 46667, 18479, 210, 41950}",6,10017,0,2,0.333333,0
3421067,3421067,31369,{21386},1,21386,1,1,1.000000,0
3421068,3421068,7370,"{38656, 17224, 48296, 5322, 9387, 20269, 10957...",14,16797,0,1,0.071429,0
3421069,3421069,119835,"{18656, 34243, 28199, 46667, 10831, 38383, 211...",12,28199,1,11,0.916667,0
3421071,3421071,124485,"{32293, 26919, 35921, 34270, 21791}",5,26919,0,1,0.200000,0
3421072,3421072,50050,"{31553, 26209, 38275, 10246, 28134, 6473, 4302...",12,31553,0,3,0.250000,0
3421073,3421073,103510,"{49187, 20126}",2,49187,0,0,0.000000,1
3421074,3421074,167185,"{1640, 29066, 12987, 49383}",4,12987,1,1,0.250000,0
3421075,3421075,193873,"{25153, 18721, 3873, 47941, 34027, 43409, 1422...",8,49429,1,8,1.000000,0
3421076,3421076,193225,"{48101, 47114, 17487, 44560, 28849, 19348, 178...",8,48101,0,7,0.875000,0
3421077,3421077,107102,"{26940, 27845, 27966, 45007}",4,27966,0,0,0.000000,1
3421078,3421078,70170,"{38656, 48577, 22760, 40396, 37646, 24852, 418...",9,37646,1,7,0.777778,0
3421079,3421079,108687,{30136},1,30136,0,0,0.000000,1
3421080,3421080,52726,"{25122, 4932, 31717, 27845, 12935, 10667, 3806...",9,27845,1,4,0.444444,0
3421081,3421081,117076,"{38185, 32299, 3060, 35221, 12218, 20539, 12861}",7,38185,0,0,0.000000,1
3421082,3421082,175185,"{12738, 47941, 12023, 43352, 32700, 16797, 17279}",7,17279,1,4,0.571429,0
3421083,3421083,25247,"{18176, 4600, 21162, 35211, 7854, 24852, 11352...",10,7854,0,4,0.400000,0

In [13]:
print('Order related information...')
ords_pri = pd.DataFrame()
ords_pri['order_id'] = prior.groupby(prior.order_id)['order_id'].apply(lambda x: x.iloc[0])
ords_pri['user_id'] = prior.groupby(prior.order_id)['user_id'].apply(lambda x: x.iloc[0])
ords_pri['unique_product_id'] = prior.groupby(prior.order_id)['product_id'].apply(set)
ords_pri.set_index('order_id', drop=False, inplace=True)
ords_pri['nb_items'] = prior.groupby(prior.order_id)['product_id'].size().astype(np.uint8)
ords_pri['first_item_id'] = prior.groupby(prior.order_id)['product_id'].apply(lambda x: x.iloc[0])
ords_pri['first_item_reorder'] = prior.groupby(prior.order_id)['reordered'].apply(lambda x: x.iloc[0])
ords_pri['nb_reorder'] = prior.groupby(prior.order_id)['reordered'].sum()
ords_pri['reorder_ratio'] = (ords_pri['nb_reorder'] / ords_pri['nb_items']).astype(np.float32)

Order related information...

In [47]:
print("min and max basket size for each user...")
min_basket_list = []
max_basket_list = []
user_order_list = prior_orders.groupby('user_id')['order_id'].apply(list)
len(user_order_list)
for ord_i, order_list in enumerate(user_order_list):
    min_basket=999
    max_basket=0
    if not (ord_i + 1) % 10000:
        print("%d orders..." % (ord_i+1))
    for order_id in order_list:
        nb_item_s = ords_pri.loc[order_id, 'nb_items']
        min_basket = min(min_basket, nb_item_s)
        max_basket = max(max_basket, nb_item_s)
    min_basket_list.append(min_basket)
    max_basket_list.append(max_basket)
#     print("order id: %d, min_basket: %d, max_basket: %d" %(order_id, min_basket, max_basket))

min and max basket size for each user...
10000 orders...
20000 orders...
30000 orders...
40000 orders...
50000 orders...
60000 orders...
70000 orders...
80000 orders...
90000 orders...
100000 orders...
110000 orders...
120000 orders...
130000 orders...
140000 orders...
150000 orders...
160000 orders...
170000 orders...
180000 orders...
190000 orders...
200000 orders...

In [ ]:
print('User related information')
users = pd.DataFrame()
users['user_id'] = prior.groupby('user_id')['user_id'].apply(lambda x: x.iloc[0])
users['nb_order'] = prior_orders.groupby('user_id').size().astype(np.uint16)
users['orders'] = prior_orders.groupby('user_id')['order_id'].apply(list) 
users['min_basket'] = min_basket_list
users['max_basket'] = max_basket_list
users['nb_all_items'] = 
users['nb_reorder'] = 
users['min_nb_reorder'] = 
users['min_nb_reorder'] = 
users['reorder_rate'] = user.nb_reorder / user.nb_all_items
users['nb_reorder_order']
users['reorder_order_rate'] = 

#     print("order id: %d, min_basket: %d, max_basket: %d" %(order_id, min_basket, max_basket))
users['avg_days_between_order'] = prior.groupby('user_id')['days_since_prior_order'].mean().astype(np.float32)
users['avg_hour_of_day'] = prior.groupby('user_id')['order_hour_of_day'].mean().astype(np.float32)
users['nb_total_items'] = prior.groupby('user_id').size().astype(np.uint16)
users['unique_products'] = prior.groupby('user_id')['product_id'].apply(set) # apply 对每个行或者列调用一次函数
users['all_products'] = prior.groupby('user_id')['product_id'].apply(list)
users['nb_distinct_items'] = (users['unique_products'].map(len)).astype(np.uint16) #map 对每个元素(element-wise)调用一次函数
users['average_basket'] = (users.nb_total_items / users.nb_order).astype(np.float32)
users['min_days_of_week'] = prior.groupby(prior.user_id)['order_dow'].apply(min).astype(np.uint8)
users['max_days_of_week'] = prior.groupby(prior.user_id)['order_dow'].apply(max).astype(np.uint8)
print('users best seller 1')
users['nb_2nd_seller'] = users.all_products.apply(lambda X: sum([best_seller_id[1]==x for x in X]))
print('users best reorder 1')
users['nb_1st_reorder'] = users.all_products.apply(lambda X: sum([most_often_reordered[0] == x for x in X]))

# Query data from ords
users['last_order_id'] = prior_orders.groupby(prior_orders.user_id)['user_id'].apply(lambda x: x.iloc[-1])
users['lo_nb_products'] = users.last_order_id.map(ords_pri.nb_items)
users['lo_first_item_id'] = users.last_order_id.map(ords_pri.first_item_id)
users['lo_first_item_reorder'] = users.last_order_id.map(ords_pri.first_item_reorder)
users['lo_nb_reorder'] = users.last_order_id.map(ords_pri.nb_reorder)
users['lo_reorder_ratio'] = users.last_order_id.map(ords_pri.reorder_ratio)

users['last_2_order_id'] = prior_orders.groupby(prior_orders.user_id)['user_id'].apply(lambda x: x.iloc[-2])
users['lo2_nb_products'] = users.last_2_order_id.map(ords_pri.nb_items)
users['lo2_first_item_id'] = users.last_2_order_id.map(ords_pri.first_item_id)
users['lo2_first_item_reorder'] = users.last_2_order_id.map(ords_pri.first_item_reorder)
users['lo2_nb_reorder'] = users.last_2_order_id.map(ords_pri.nb_reorder)
users['lo2_reorder_ratio'] = users.last_2_order_id.map(ords_pri.reorder_ratio)

users['last_3_order_id'] = prior_orders.groupby(prior_orders.user_id)['user_id'].apply(lambda x: x.iloc[-3])
users['lo3_nb_products'] = users.last_3_order_id.map(ords_pri.nb_items)
users['lo3_first_item_id'] = users.last_3_order_id.map(ords_pri.first_item_id)
users['lo3_first_item_reorder'] = users.last_3_order_id.map(ords_pri.first_item_reorder)
users['lo3_nb_reorder'] = users.last_3_order_id.map(ords_pri.nb_reorder)
users['lo3_reorder_ratio'] = users.last_3_order_id.map(ords_pri.reorder_ratio)

In [3]:
print('UserXproduct_id information...')
prior['user_product_index'] = (prior.user_id.astype(np.uint64) * 100000\
                               + prior.product_id).astype(np.uint64)
d = dict()
for row in prior.itertuples():
    k = row.user_product_index
    if k not in d:
        d[k] = (1, \
                row.add_to_cart_order, \
                row.reordered, \
                (row.order_number, row.order_id),\
                row.order_dow, \
                row.order_hour_of_day, \
                row.add_to_cart_order, \
                row.add_to_cart_order)
    else:
        d[k] = (d[k][0]+1, d[k][1]+row.add_to_cart_order, \
                d[k][2]+row.reordered, \
                # find last order with that product
                max(d[k][3], (row.order_number, row.order_id)), \
                d[k][4]+row.order_dow, \
                d[k][5]+row.order_hour_of_day, \
                min(d[k][6], row.add_to_cart_order), \
                max(d[k][7], row.add_to_cart_order))
UserProduct = pd.DataFrame.from_dict(d, orient='index')
del d
UserProduct.columns = ['nb_orders', 'sum_add_to_cart_order', 'nb_reordered', \
                      'last_order_id', 'sum_order_dow', 'sum_order_hour_of_day', \
                      'min_add_to_cart_order', 'max_add_to_cart_order']
UserProduct['nb_orders'] = UserProduct.nb_orders.astype(np.uint16) 
UserProduct['sum_add_to_cart_order'] = UserProduct.sum_add_to_cart_order.astype(np.uint16)
UserProduct['nb_reordered'] = UserProduct.nb_reordered.astype(np.uint16)
UserProduct['last_order_id'] = UserProduct.last_order_id.map(lambda x: x[1]).astype(np.uint32)
UserProduct['sum_order_dow'] = UserProduct.sum_order_dow.astype(np.uint16)
UserProduct['sum_order_hour_of_day'] = UserProduct.sum_order_hour_of_day.astype(np.uint32)
UserProduct['min_add_to_cart_order'] = UserProduct.min_add_to_cart_order.astype(np.uint8)
UserProduct['max_add_to_cart_order'] = UserProduct.max_add_to_cart_order.astype(np.uint8)

Construct products information...
Order related information...
User related information
users best seller 1
users best seller 2
users best seller 3
users best seller 4
users best seller 5
users best seller 6
users best seller 7
users best seller 8
users best seller 9
users best seller 10
users best reorder 1
users best reorder 2
users best reorder 3
users best reorder 4
users best reorder 5
users best reorder 6
users best reorder 7
users best reorder 8
users best reorder 9
users best reorder 10
UserXproduct_id information...

In [4]:
def gen_features(orders, labels_out=False):
    print('generate features and labels(optional) from selected orders')
    count=0
    product_list = []
    order_list = []
    labels = []
    for row in orders.itertuples():
        count+=1
        order_id = row.order_id
        user_id = row.user_id
        user_products = users.unique_products[user_id]
        product_list += user_products
        order_list += [order_id] * len(user_products)
        if labels_out:
            labels += [(order_id, product) in train.index for product in user_products]            
        if count%10000 == 0:
            print('order row', count)
            
    df = pd.DataFrame({'order_id': order_list, 'product_id': product_list}, dtype=np.int32)
    labels = np.array(labels, dtype=np.int8)
    del order_list
    del product_list
    
    print("user related features<prior>")
    df['user_id'] = df.order_id.map(order.user_id)
    df['user_total_orders'] = df.user_id.map(users.nb_order)
    df['user_total_items'] = df.user_id.map(users.nb_total_items)
    df['user_distinct_items'] = df.user_id.map(users.nb_distinct_items)
    df['user_avg_days_between_orders'] = df.user_id.map(users.avg_days_between_order)
    df['user_avg_basket'] = df.user_id.map(users.average_basket)
    df['user_min_days_of_week'] = df.user_id.map(users.min_days_of_week)
    df['user_max_days_of_week'] = df.user_id.map(users.max_days_of_week)
    
    df['user_nb_1st_seller'] = df.user_id.map(users.nb_1st_seller)

    df['user_nb_1st_reorder'] = df.user_id.map(users.nb_1st_reorder)
    
    df['user_last_order_id'] = df.user_id.map(users.last_order_id)
    df['user_lo_dow'] = df.user_last_order_id.map(order.order_dow)
    df['user_lo_hour_of_day'] = df.user_last_order_id.map(order.order_hour_of_day)
    df['user_lo_day_since_prior'] = df.user_last_order_id.map(order.days_since_prior_order)
    df['user_lo_nb_products'] = df.user_id.map(users.lo_nb_products)
    df['user_lo_first_item_id'] = df.user_id.map(users.lo_first_item_id)
    df['user_lo_first_item_reorder'] = df.user_id.map(users.lo_first_item_reorder)
    df['user_lo_nb_reorder'] = df.user_id.map(users.lo_nb_reorder)
    df['user_lo_reorder_ratio'] = df.user_id.map(users.lo_reorder_ratio)
    
    df['user_last2_order_id'] = df.user_id.map(users.last_2_order_id)
    df['user_lo2_dow'] = df.user_last2_order_id.map(order.order_dow)
    df['user_lo2_hour_of_day'] = df.user_last2_order_id.map(order.order_hour_of_day)
    df['user_lo2_day_since_prior'] = df.user_last2_order_id.map(order.days_since_prior_order)
    df['user_lo2_nb_products'] = df.user_id.map(users.lo2_nb_products)
    df['user_lo2_first_item_id'] = df.user_id.map(users.lo2_first_item_id)
    df['user_lo2_first_item_reorder'] = df.user_id.map(users.lo2_first_item_reorder)
    df['user_lo2_nb_reorder'] = df.user_id.map(users.lo2_nb_reorder)
    df['user_lo2_reorder_ratio'] = df.user_id.map(users.lo2_reorder_ratio)
    
    df['user_last3_order_id'] = df.user_id.map(users.last_3_order_id)
    df['user_lo3_dow'] = df.user_last3_order_id.map(order.order_dow)
    df['user_lo3_hour_of_day'] = df.user_last3_order_id.map(order.order_hour_of_day)
    df['user_lo3_day_since_prior'] = df.user_last3_order_id.map(order.days_since_prior_order)
    df['user_lo3_nb_products'] = df.user_id.map(users.lo3_nb_products)
    df['user_lo3_first_item_id'] = df.user_id.map(users.lo3_first_item_id)
    df['user_lo3_first_item_reorder'] = df.user_id.map(users.lo3_first_item_reorder)
    df['user_lo3_nb_reorder'] = df.user_id.map(users.lo3_nb_reorder)
    df['user_lo3_reorder_ratio'] = df.user_id.map(users.lo3_reorder_ratio)
    
    print("product related features<prior>")
    df['product_aisle_id'] = df.product_id.map(products.aisle_id)
    df['product_department_id'] = df.product_id.map(products.department_id)
    df['product_orders'] = df.product_id.map(products.total_nb)
    df['product_reorders'] = df.product_id.map(products.nb_reorder)
    df['product_reorder_rate'] = df.product_id.map(products.reorder_rate)
    df['product_nb_buyers'] = df.product_id.map(products.nb_buyers)
    df['product_avg_add_to_cart_order'] = df.product_id.map(products.avg_add_to_cart_order)
    df['product_nb_orders'] = df.product_id.map(products.nb_orders)
    df['product_min_add_to_cart_order'] = df.product_id.map(products.min_add_to_cart_order)
    df['product_max_add_to_cart_order'] = df.product_id.map(products.max_add_to_cart_order)
    
    print("order related features<train>")
    df['order_hour_of_day'] = df.order_id.map(order.order_hour_of_day)
    df['order_days_since_prior_order'] = df.order_id.map(order.days_since_prior_order)
    df['order_day_of_week'] = df.order_id.map(order.order_dow)
    df['order_number'] = df.order_id.map(order.order_number)
    
    print("userXproduct related features<prior>")
    # 1.nb_orders, 2.sum_add_to_cart_order, 3.nb_reordered, \
    # 4.last_order_id, 5.sum_order_dow, 6.sum_order_hour_of_day
    df['UP'] = df.product_id+df.user_id.astype(np.uint64)*100000
    df['UP_nb_orders'] = df.UP.map(UserProduct.nb_orders)
    df['UP_avg_add_to_cart_order'] = df.UP.map(UserProduct.sum_add_to_cart_order)\
                                    / df.UP_nb_orders
    df['UP_nb_reordered'] = df.UP.map(UserProduct.nb_reordered)
    df['UP_reorder_ratio'] = (df.UP_nb_reordered / df.UP_nb_orders).astype(np.float32)
    df['UP_last_order_id'] = df.UP.map(UserProduct.last_order_id)
    df['UP_avg_order_dow'] = (df.UP.map(UserProduct.sum_order_dow)\
                              / df.UP_nb_orders).astype(np.float32)
    df['UP_avg_order_hour_of_day'] = (df.UP.map(UserProduct.sum_order_hour_of_day) / \
                                    df.UP_nb_orders).astype(np.float32)
    df['UP_order_ratio'] = (df.UP_nb_orders / df.user_total_orders).astype(np.float32)
    df['UP_order_since_last'] = df.user_total_orders - \
                                df.UP_last_order_id.map(order.order_number)
    #最后一次买该产品和该订单-相同产品相隔的时间(没有算日期。。。)
    df['UP_delta_hour_vs_last'] = abs(df.order_hour_of_day - df.UP_last_order_id.map(\
                                       order.order_hour_of_day)).map(lambda x: min(x, 24-x)).astype(np.int8)
    df['UP_min_add_to_cart_order'] = df.UP.map(UserProduct.min_add_to_cart_order)
    df['UP_max_add_to_cart_order'] = df.UP.map(UserProduct.max_add_to_cart_order)
    df.drop('UP', axis=1, inplace=True)
    
#     print(df.dtypes)
#     print(df.memory_usage())
    return(df, labels)

In [ ]:
print('train order size: ', train_orders.shape)
df_train, labels = gen_features(train_orders, labels_out=True)
df_train['label'] = pd.Series(labels, dtype=np.int8)
print('test order size: ', test_orders.shape)
df_test, _ = gen_features(test_orders)

df_train['label'] = pd.Series(labels, dtype=np.int8)
user_id_list=users.index.tolist()
np.random.shuffle(user_id_list)
nb_user = len(user_id_list)
val_nb_user = nb_user // 10
# del users
# del order
# del UserProduct
# del products

train order size:  (131209, 7)
generate features and labels(optional) from selected orders
order row 10000
order row 20000
order row 30000
order row 40000
order row 50000
order row 60000
order row 70000
order row 80000
order row 90000
order row 100000
order row 110000
order row 120000
order row 130000
user related features<prior>
product related features<prior>
order related features<train>
userXproduct related features<prior>
test order size:  (75000, 7)
generate features and labels(optional) from selected orders
order row 10000
order row 20000
order row 30000
order row 40000
order row 50000
order row 60000
order row 70000
user related features<prior>
product related features<prior>
order related features<train>
userXproduct related features<prior>

In [ ]:
for nb in range(1):
    print("Doing Cross %d Validation"% nb)
    val_start = nb*val_nb_user
    val_end = (nb+1)*val_nb_user
    if nb==9:
        val_end = nb_user
    print("validation start: %d, end: %d" % (val_start, val_end))
    train_user_ids = np.concatenate((user_id_list[:val_start],\
                                    user_id_list[val_end:]))
    val_user_ids = user_id_list[val_start:val_end]
    print("Split train and valid data/label by user_id")
    sub_df_val = df_train[df_train.user_id.isin(val_user_ids)]
    sub_df_train = df_train[df_train.user_id.isin(train_user_ids)]
    sub_train_label = np.array(sub_df_train['label'])
    sub_val_label = np.array(sub_df_val['label'])
    sub_df_train.drop('label', axis=1, inplace=True)
    sub_df_val.drop('label', axis=1, inplace=True)
    params={
    'booster':'gbtree',
    'objective': 'binary:logistic', 
    'eval_metric': 'logloss',
    'gamma':0.7,  # 用于控制是否后剪枝的参数,越大越保守，一般0.1、0.2这样子。
    'max_depth':10, # 构建树的深度，越大越容易过拟合
    'lambda':10,  # 控制模型复杂度的权重值的L2正则化项参数，参数越大，模型越不容易过拟合。
    'subsample':0.76, # 随机采样训练样本
    'colsample_bytree':0.95, # 生成树时进行的列采样
    'min_child_weight':10,  
    'silent':0 ,#设置成1则没有运行信息输出，最好是设置为0.
    'eta': 0.1, # 如同学习率
    'seed':77,
    'nthread':8,# cpu 线程数
    }
    train = np.array(sub_df_train)
    valid = np.array(sub_df_val)
    n = 150
    plst = list(params.items())
    xgtrain = xgb.DMatrix(train, label=sub_train_label)
    xgval = xgb.DMatrix(valid, label=sub_val_label)
    watchlist = [(xgtrain, 'train'), (xgval, 'val')]
    model = xgb.train(plst, xgtrain, n, watchlist, early_stopping_rounds=100)
    model.save_model('CV_0725_'+str(nb)+'.model')

Doing Cross 0 Validation
validation start: 0, end: 20620
Split train and valid data/label by user_id

/opt/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
df_test_array = np.array(df_test)
xgtest = xgb.DMatrix(df_test_array)
xgbst = xgb.Booster()
for i in range(1):
    print('xgboost predict from model',str(i))
    xgbst.load_model('./CV_0725_'+str(i)+'.model')
    if i == 0:
        preds = xgbst.predict(xgtest)
    else:
        preds += xgbst.predict(xgtest)
preds = preds / 10.
df_test['pred'] = preds
THRESHOLD=0.2
d = dict()
for row in df_test.itertuples():
    if row.pred > THRESHOLD:
        try:
            d[row.order_id] += ' ' + str(row.product_id)
        except:
            d[row.order_id] = str(row.product_id)
for order in test_orders.order_id:
    if order not in d:
        d[order] = 'None'

tst = pd.DataFrame.from_dict(d, orient='index')
tst.reset_index(inplace=True)
tst.columns = ['order_id', 'products']
tst.to_csv('submission_70_features_THRESHOLD_0.2_10_fold_CV_0725.csv', index=False)